span#name-label {
    margin-right: 5px;
}

.main {
    display: flex;
}

.employees-list {
    width: 55%;
}

.add-employee {
    width: 45%;
}

.input-label {
    margin-left: 5px;
}

.item-surname {
    margin-left: 5px;
}